<div ng-controller="PayInfoListController">
    <h1 class="page-header">订单一览</h1>

    <p>
        <button class="btn btn-primary" ng-click="list()">刷新列表</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#pay-modal">添加订单</button>
    </p>

    <table class="table table-bordered">
        <tr>
            <th>业务订单编号</th>
            <th>支付订单编号</th>
            <th>支付渠道</th>
            <th>支付状态</th>
        </tr>
        <tr ng-repeat="pay in pays">
            <td>{{pay.orderNo}}</td>
            <td>{{pay.payOrderNo}}</td>
            <td>
                <span ng-repeat="channel in channels" ng-if="channel.payChannel==pay.payChannel">{{channel.payChannelName}}</span>
            </td>
            <td>{{orderStatus[pay.status]}}</td>
            <td>
                <button ng-if="pay.type!='LOCAL'" class="btn btn-primary btn-xs" ng-click="delete(pay)">删除</button>
            </td>
        </tr>
    </table>

    <!-- 添加渠道 -->
    <div class="modal fade" id="pay-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">我要购买</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">

                        <div class="row form-group">
                            <label class="col-sm-3 control-label">订单描述</label>
                            <div class="col-sm-9">
                                <input class="form-control" ng-model="pay.payDesc">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="add()">创建</button>
                </div>
            </div>
        </div>
    </div>

</div>